{% extends "flux/base.html" %}

{% block content %}
    <h5> Recent/Favorite Sites </h5>
    
    <div class = "my-1 mr-sm-2">
        <div class = "row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col">TIMESTAMP</th>
                            <th class="text-center" scope="col">TA_ERA</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>20010101</td>
                            <td>-16.526</td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
          
        </div> 
    </div>

{% endblock %}
